
tensorflow-cpu
scikit-learn==1.6.1
opencv-python==4.12.0.88
seaborn==0.13.2
matplotlib==3.10.0
numpy==2.2.6
pandas==2.2.3
pydicom


joblib==1.4.2
Werkzeug==2.2.2
flask==2.2.2
gunicorn==20.1.0
uvicorn[standard]

requests==2.28.1
